<nz-divider
  [ngClass]="{ 'margin-title': margin_top }"
  [nzText]="title"
  nzOrientation="left"
></nz-divider>
<div
  class="w-full"
  fxLayout="column"
  fxLayoutAlign="start start"
  *ngIf="loading && !error"
>
  <div class="w-full" nz-row [nzGutter]="[16, 16]">
    <nz-skeleton
      nz-col
      nzXs="12"
      nzSm="6"
      nzMd="6"
      nzLg="4"
      nzXl="4"
      [nzActive]="true"
      *ngFor="let view of loadingViewsTemplate"
      [@fadeInOut]
    ></nz-skeleton>
  </div>
</div>
<nz-empty
  *ngIf="!loading && !error && animesData.length == 0"
  nzNotFoundImage="../../../../../assets/status/no_content.jpg"
  [nzNotFoundContent]="'No anime at this time, come back soon!'"
></nz-empty>
<nz-empty
  *ngIf="!loading && error && animesData.length == 0"
  nzNotFoundImage="../../../../../assets/status/error.jpg"
  [nzNotFoundContent]="'We have problems on our servers, sorry Onnichan'"
></nz-empty>
<div
  class="w-full"
  fxLayout="column"
  fxLayoutAlign="start start"
  *ngIf="!loading && !error && animesData.length >= 1"
>
  <div class="w-full" nz-row [nzGutter]="[16, 16]">
    <app-anime
      nz-col
      nzXs="12"
      nzSm="6"
      nzMd="6"
      nzLg="4"
      nzXl="4"
      *ngFor="let anime of animesData"
      [animeDetails]="anime"
      [@fadeInOut]
    ></app-anime>
  </div>
</div>
