<nz-content class="bg" [style.backgroundImage]="'url(' + imgBg + ')'">
  <div
    class="bg-gradient"
    fxLayout="row"
    fxLayoutAlign="center center"
    [ngStyle.xs]="{ padding: '0.625rem' }"
  >
    <div
      class="router"
      fxLayout="row"
      fxLayout.xs="column"
      [ngStyle.xs]="{ width: '100%', height: 'auto' }"
    >
      <div class="bg-info-kodachi" fxFlex="60%">
        <div
          class="bg-gradient-small p-20"
          fxLayout="column"
          fxLayoutAlign="end start"
          fxLayoutAlign.xs="center center"
        >
          <button nz-button nzType="default" [routerLink]="['/explorer']">
            <i nz-icon nzType="left" nzTheme="outline"></i>
            Go to back
          </button>
          <div
            class="w-full h-full"
            fxLayout="column"
            fxLayoutAlign="end start"
            fxHide.xs
          >
            <h1 class="m-0 mb-10" nz-typography>
              Welcome to Kodachi
            </h1>
            <p nz-typography>
              We are a platform that offers the possibility of saving your anime
              in an easy way so that you never forget those beautiful stories
              from your favorite anime that you liked so much, and don't forget
              to share your opinions about anime in our social area.
            </p>
          </div>
        </div>
      </div>
      <div class="p-20" fxFlex="40%" fxFlex.xs="100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</nz-content>
