.bg {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -ms-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.bg-gradient {
  width: 100%;
  height: 100vh;
  background: rgba(43, 44, 48, 0.6);
}

.bg-gradient-small {
  width: 100%;
  height: 100%;
  background: rgba(43, 44, 48, 0.6);
}

.bg-info-kodachi {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../assets/auth/bg-3.jpg');
}

.router {
  width: 56.25rem;
  height: 28.125rem;
  border-radius: 3%;
  background-color: var(--component-bg);
  box-shadow: 0 6px 16px rgba(43, 44, 48, 0.48),
    0 6px 16px 0 rgba(43, 44, 48, 0.32), 0 9px 28px 8px rgba(43, 44, 48, 0.2);
}
