<div fxLayout="column">
  <app-category
    title="New releases — All"
    [animesData]="animeNew"
    [loading]="isLoadingAnimeNew"
    [error]="isErrorAnimeNew"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeNew.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateNewAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
