.poster {
  height: 15.625rem;
  width: 100%;
  border-radius: 0.3125rem;
  cursor: pointer;
  background-image: url('../../../../../assets/status/no_cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.poster:hover .anime-info {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.anime-info {
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
  background-color: rgba(32, 34, 37, 0.3);
  backdrop-filter: blur(0.1875rem);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.favorite-icon {
  font-size: 35px;
  color: #e74c3c;
}

.favorite-count {
  font-size: 1.5625rem;
  font-weight: bold;
}

.pop-content {
  width: 21.875rem;
}
