<div
  class="poster"
  nz-popover
  nzType="primary"
  [nzPopoverTitle]="titleLibraryInfo"
  [nzPopoverContent]="contentLibraryInfo"
  [style.backgroundImage]="'url(' + animeDetails.poster + ')'"
>
  <div class="anime-info p-10" fxLayout="column" fxLayoutAlign="end center">
    <i class="favorite-icon mb-5" nz-icon nzType="heart" nzTheme="outline"></i>
    <p class="m-0 favorite-count">{{ animeDetails.favorites_count }}</p>
    <p
      class="text-center mt-10"
      style="font-weight: bold;"
      nz-typography
      nzEllipsis
      [nzEllipsisRows]="2"
    >
      {{ animeDetails.title.romanized }}
    </p>
    <nz-rate
      [ngModel]="animeDetails.rate == null ? 0 : animeDetails.rate"
      nzDisabled
    ></nz-rate>
    <button class="mt-10 w-full" nz-button nzType="default">Manage</button>
  </div>
</div>
<ng-template #titleLibraryInfo>
  <div fxLayout="row" fxLayoutAlign="start center">
    <i class="mr-5" nz-icon nzType="book" nzTheme="outline"></i>
    <p class="m-0">About this Anime</p>
  </div>
</ng-template>
<ng-template #contentLibraryInfo>
  <div class="pop-content" fxLayout="column" [ngClass.xs]="{ 'w-full': true }">
    <p nz-typography nzEllipsis [nzEllipsisRows]="4">
      {{ animeDetails.synopsis }}
    </p>
    <div fxLayout="row" fxLayoutAlign="start center">
      <nz-statistic
        [nzValue]="animeDetails.episodes_count | number"
        [nzTitle]="'Episodes'"
        [nzPrefix]="prefixEpisodes"
      ></nz-statistic>
      <ng-template #prefixEpisodes>
        <i nz-icon nzType="video-camera"></i>
      </ng-template>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-statistic
        [nzValue]="animeDetails.watching_count | number"
        [nzTitle]="'Watching'"
        [nzPrefix]="prefixWatching"
      ></nz-statistic>
      <ng-template #prefixWatching>
        <i nz-icon nzType="eye"></i>
      </ng-template>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-statistic
        [nzValue]="animeDetails.rate == null ? 0 : animeDetails.rate"
        [nzTitle]="'Rate'"
        [nzPrefix]="prefixReviews"
        [nzSuffix]="'/ 5'"
      ></nz-statistic>
      <ng-template #prefixReviews>
        <i nz-icon nzType="star"></i>
      </ng-template>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-statistic
        [nzValue]="animeDetails.release.start | date: 'y'"
        [nzTitle]="'Release'"
        [nzPrefix]="prefixRelease"
      ></nz-statistic>
      <ng-template #prefixRelease>
        <i nz-icon nzType="calendar"></i>
      </ng-template>
    </div>
  </div>
</ng-template>
