<div fxLayout="column">
  <app-category
    title="Top Rated All Time — All"
    [animesData]="animeTopRatedAllTime"
    [loading]="isLoadingAnimeTopRatedAllTime"
    [error]="isErrorAnimeTopRatedAllTime"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeTopRatedAllTime.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateTopRatedAllTimeAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
