<div fxLayout="column">
  <app-category
    title="Top rated this season — All"
    [animesData]="animeTopRatedSeason"
    [loading]="isLoadingAnimeTopRatedSeason"
    [error]="isErrorAnimeTopRatedSeason"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeTopRatedSeason.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateTopRatedSeasonAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
