.notifications-shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48),
    0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
}

.title-menu {
  font-weight: bold;
}

.header-user {
  width: 100%;
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-header-user {
  width: 100%;
  height: 100%;
  background: var(--component-bg-gradiend);
  padding: 15px;
}

.name {
  margin: 0;
  font-weight: inherit;
}

.phrase {
  margin: 0;
  font-weight: initial;
  font-size: smaller;
}

.counters-bg {
  background-color: var(--component-bg);
}
