<div class="h-full" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="trigger" (click)="showMenu()">
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="isShowMenu"
      nzPlacement="left"
      [nzTitle]="headerSidebar"
      [nzWidth]="'18.75rem'"
      (nzOnClose)="showMenu()"
    >
      <app-drawer></app-drawer>
    </nz-drawer>
    <ng-template #headerSidebar>
      <div
        class="header-user"
        fxLayout="column"
        fxLayoutAlign="center center"
        [style.backgroundImage]="'url(' + userCover + ')'"
      >
        <div
          class="content-header-user"
          fxLayout="column"
          fxLayoutAlign="end start"
        >
          <nz-skeleton
            [nzAvatar]="true"
            [nzParagraph]="{ rows: 1 }"
            *ngIf="isLoadigStoreAuth"
          ></nz-skeleton>
          <div>
            <nz-avatar
              [nzSize]="64"
              nzIcon="user"
              [nzSrc]="userPhoto"
              [nzAlt]="'Avatar | Kodachi'"
              *ngIf="!isLoadigStoreAuth"
            ></nz-avatar>
            <p class="name mt-10 mb-5">{{ userName }}</p>
            <div fxLayout="row wrap">
              <nz-tag
                class="mr-5 mb-5"
                [nzColor]="rank.color"
                *ngFor="let rank of userRanks"
              >
                {{ rank.title }}
              </nz-tag>
            </div>
            <p class="phrase">
              {{ userPhrase }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="counters-bg"
        fxLayout="row"
        fxLayoutAlign="center center"
        *ngIf="isAuth"
      >
        <nz-statistic
          [nzValue]="userAnimeLibrary | number"
          [nzTitle]="'Library'"
          [nzPrefix]="prefixLibrary"
        ></nz-statistic>
        <ng-template #prefixLibrary><i nz-icon nzType="book"></i></ng-template>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-statistic
          [nzValue]="userAnimeWatching | number"
          [nzTitle]="'Watching'"
          [nzPrefix]="prefixWatching"
        ></nz-statistic>
        <ng-template #prefixWatching><i nz-icon nzType="eye"></i></ng-template>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-statistic
          [nzValue]="userAnimeViews | number"
          [nzTitle]="'Views'"
          [nzPrefix]="prefixViews"
        ></nz-statistic>
        <ng-template #prefixViews>
          <i nz-icon nzType="video-camera"></i>
        </ng-template>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-statistic
          [nzValue]="userAnimeDropped | number"
          [nzTitle]="'Dropped'"
          [nzPrefix]="prefixDropped"
        ></nz-statistic>
        <ng-template #prefixDropped>
          <i nz-icon nzType="pause-circle"></i>
        </ng-template>
      </div>
    </ng-template>
    <button nz-button [nzType]="styleButtonMenu" nzShape="round">
      <i nz-icon [nzType]="isShowMenu ? 'menu-unfold' : 'menu'"></i>
      Menu
    </button>
  </div>
  <img
    class="trigger"
    src="../../../assets/main/logo-text.svg"
    [routerLink]="['/explorer']"
    alt="Kodachi - The best anime tracker"
    height="50"
    width="170"
    [ngStyle.xs]="{ width: '7.5rem' }"
  />
  <div
    class="h-full"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="isAuth; else noAuth"
  >
    <nz-space
      class="trigger"
      [nzSize]="'small'"
      (click)="openMenuProfile = !openMenuProfile"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menuProfile"
    >
      <nz-space-item>
        <nz-avatar
          class="mb-10"
          nzIcon="user"
          [nzSrc]="userPhoto"
          [nzAlt]="userName"
        ></nz-avatar>
      </nz-space-item>
      <nz-space-item fxHide.xs>
        <p class="m-0">{{ userName }}</p>
      </nz-space-item>
      <nz-space-item>
        <i nz-icon nzType="down"></i>
      </nz-space-item>
    </nz-space>
    <nz-space
      class="trigger"
      [nzSize]="'small'"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menuNotifications"
    >
      <nz-space-item>
        <i
          class="icon-menu font-20"
          nz-icon
          nzType="bell"
          nzTheme="outline"
        ></i>
      </nz-space-item>
    </nz-space>
  </div>
  <ng-template #noAuth>
    <div class="h-full" fxLayout="row" fxLayoutAlign="start center">
      <nz-space>
        <nz-space-item fxHide.xs>
          <button nz-button nzType="primary" [routerLink]="['/auth/join']">
            Sign Up
          </button>
        </nz-space-item>
        <nz-space-item>
          <button nz-button nzType="default" [routerLink]="['/auth/sign-in']">
            Sign In
          </button>
        </nz-space-item>
      </nz-space>
    </div>
  </ng-template>
</div>
<nz-dropdown-menu #menuProfile="nzDropdownMenu">
  <ul nz-menu [ngClass.xs]="{ 'mr-10': true }">
    <li nz-menu-item>
      <i nz-icon nzType="user" nzTheme="outline"></i>
      Settings
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="question-circle" nzTheme="outline"></i>
      Support
    </li>
    <li nz-menu-item (click)="signOut()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
      Log out
    </li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #menuNotifications="nzDropdownMenu">
  <div
    class="p-10 bg-components notifications-shadow"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <nz-divider nzText="Notifications"></nz-divider>
    <nz-empty
      nzNotFoundImage="../../../assets/status/no_content.jpg"
      [nzNotFoundContent]="
        'You have no pending notifications yet, come back soon.'
      "
    ></nz-empty>
  </div>
</nz-dropdown-menu>
