<nz-content>
  <app-carousel></app-carousel>
  <div class="mt-20 pr-20 pl-20" fxLayout="row" fxLayout.xs="column">
    <div
      class="mr-20"
      [ngStyle.xs]="{ 'margin-right': 0 }"
      fxFlex="20%"
      fxFlex.xs="100%"
    >
      <app-sidebar-category></app-sidebar-category>
    </div>
    <div fxFlex="80%" fxFlex.xs="100%">
      <router-outlet></router-outlet>
    </div>
  </div>
</nz-content>
