<div fxLayout="column">
  <app-category
    title="Let's meet other anime — All"
    [animesData]="animeRandom"
    [loading]="isLoadingAnimeRandom"
    [error]="isErrorAnimeRandom"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeRandom.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateRandomAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
