<app-category
  title="New releases"
  [animesData]="animeNew"
  [loading]="isLoadingAnimeNew"
  [error]="isErrorAnimeNew"
  [margin_top]="false"
></app-category>
<app-category
  title="Top rated this season — Spring"
  [animesData]="animeTopRatedSeason"
  [loading]="isLoadingAnimeTopRatedSeason"
  [error]="isErrorAnimeTopRatedSeason"
  [margin_top]="true"
></app-category>
<app-category
  title="Last season — Winter"
  [animesData]="animeLastSeason"
  [loading]="isLoadingAnimeLastSeason"
  [error]="isErrorAnimeLastSeason"
  [margin_top]="true"
></app-category>
<app-category
  title="Let's meet other anime"
  [animesData]="animeRandom"
  [loading]="isLoadingAnimeRandom"
  [error]="isErrorAnimeRandom"
  [margin_top]="true"
></app-category>
<app-category
  *ngIf="isAuth"
  title="Top rated best of all time"
  [animesData]="animeTopRatedAllTime"
  [loading]="isLoadingAnimeTopRatedAllTime"
  [error]="isErrorAnimeTopRatedAllTime"
  [margin_top]="true"
></app-category>
<app-category
  title="Recently added"
  [animesData]="animeLastAdded"
  [loading]="isLoadingAnimeLastAdded"
  [error]="isErrorAnimeLastAdded"
  [margin_top]="true"
></app-category>
