<div fxLayout="column">
  <app-category
    title="{{ categoryName }} — Category"
    [animesData]="animeByCategory"
    [loading]="isLoadingAnimeByCategory"
    [error]="isErrorAnimeByCategory"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeByCategory.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateByCategoryAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
