<nz-layout>
  <ngx-loading-bar color="#e2e8f0"></ngx-loading-bar>
  <nz-header
    class="header-banner"
    [style.background-color]="bgColorHeader"
    [ngStyle.xs]="{ padding: '0 0.625rem' }"
    *ngIf="showMenu"
  >
    <app-header></app-header>
  </nz-header>
  <router-outlet></router-outlet>
  <nz-footer class="p-0 mt-20" *ngIf="showMenu">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
