<div class="h-full w-full" fxLayout="column" fxLayoutAlign="center center">
  <img
    class="mb-10"
    src="../../../../../assets/main/icon.svg"
    alt="Kodachi - The best anime tracker"
    width="100"
    height="100"
  />
  <nz-steps
    class="w-full"
    [nzCurrent]="selectedStep"
    [nzStartIndex]="1"
    nzSize="small"
    nzDirection="horizontal"
  >
    <nz-step nzTitle="Account" nzIcon="user"></nz-step>
    <nz-step nzTitle="Profile" nzIcon="solution"></nz-step>
    <nz-step nzTitle="Activate" nzIcon="smile"></nz-step>
  </nz-steps>
  <form
    class="w-full mt-20"
    nz-form
    [hidden]="selectedStep != 1"
    [formGroup]="accountForm"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid email address.">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="email"
            nz-input
            [nzSize]="'large'"
            placeholder="Email"
            autocomplete="username"
            formControlName="email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password.">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            [nzSize]="'large'"
            placeholder="Password"
            autocomplete="current-password"
            formControlName="password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password.">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            [nzSize]="'large'"
            placeholder="Confirm password"
            autocomplete="current-password"
            formControlName="password_confirm"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <form
    class="w-full mt-20"
    nz-form
    [hidden]="selectedStep != 2"
    [formGroup]="profileForm"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid email address.">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            [nzSize]="'large'"
            placeholder="Username"
            formControlName="username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a name.">
        <nz-input-group nzPrefixIcon="solution">
          <input
            type="text"
            nz-input
            [nzSize]="'large'"
            placeholder="Name to display"
            formControlName="name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-select
        class="w-full"
        nzMode="multiple"
        [nzMaxTagCount]="4"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
        [nzPlaceHolder]="titleFavoriteCategories"
        [nzTokenSeparators]="[',']"
        [(ngModel)]="selectedCategoryAnimesDefault"
        (ngModelChange)="getCategoriesSelected($event)"
        [ngModelOptions]="{ standalone: true }"
        [nzAllowClear]="true"
        [nzMaxMultipleCount]="10"
      >
        <nz-option
          *ngFor="let item of categoryAnimeList"
          [nzLabel]="item.name"
          [nzValue]="item.id"
        ></nz-option>
      </nz-select>
      <ng-template #titleFavoriteCategories>
        <i nz-icon nzType="book" nzTheme="outline"></i>
        Your 10 favorite categories
      </ng-template>
      <ng-template #tagPlaceHolder let-selectedList>
        and {{ selectedList.length }} more selected
      </ng-template>
    </nz-form-item>
  </form>
  <form
    class="w-full mt-20"
    nz-form
    [hidden]="selectedStep != 3"
    [formGroup]="confirmForm"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid email address.">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="email"
            nz-input
            [nzSize]="'large'"
            placeholder="Email"
            formControlName="email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid Token.">
        <nz-input-group nzPrefixIcon="solution">
          <input
            type="text"
            nz-input
            [nzSize]="'large'"
            placeholder="Token"
            formControlName="token"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="w-full" fxLayout="row">
    <button
      class="w-full mr-10"
      nz-button
      nzType="default"
      (click)="changeStep(0)"
      [disabled]="selectedStep == 1"
    >
      Back
    </button>
    <button
      class="w-full"
      nz-button
      nzType="primary"
      (click)="changeStep(1)"
      *ngIf="selectedStep == 1"
      [disabled]="accountForm.invalid || accountForm.disabled"
    >
      Next
    </button>
    <button
      class="w-full"
      nz-button
      nzType="primary"
      (click)="createAccount()"
      *ngIf="selectedStep == 2"
      [disabled]="
        selectedCategoryAnimes.length == 0 ||
        profileForm.invalid ||
        profileForm.disabled
      "
    >
      Create account
    </button>
    <button
      class="w-full"
      nz-button
      nzType="primary"
      (click)="confirmAccount()"
      *ngIf="selectedStep == 3"
      [disabled]="confirmForm.invalid || confirmForm.disabled"
    >
      Confirm account
    </button>
  </div>
  <div
    class="mt-10"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="selectedStep == 1 || selectedStep == 2"
  >
    <p class="m-0 mr-5">Do you already have an account?</p>
    <a class="m-0" [routerLink]="['/auth/sign-in']">Log in</a>
  </div>
</div>
