<div fxLayout="column">
  <app-category
    title="Recently added — All"
    [animesData]="animeRecentlyAdded"
    [loading]="isLoadingAnimeRecentlyAdded"
    [error]="isErrorAnimeRecentlyAdded"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeRecentlyAdded.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateRecentlyAddedAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
