<div fxLayout="column">
  <app-category
    title="Last season — Winter"
    [animesData]="animeLastSeason"
    [loading]="isLoadingAnimeLastSeason"
    [error]="isErrorAnimeLastSeason"
    [margin_top]="false"
  ></app-category>
  <div fxLayout="row" fxLayoutAlign="end end">
    <nz-pagination
      class="mt-20"
      [nzPageIndex]="1"
      [nzTotal]="animeLastSeason.length"
      [nzPageSize]="36"
      (nzPageIndexChange)="paginateLastSeasonAnimeList($event)"
    ></nz-pagination>
  </div>
</div>
