<div class="h-full w-full" fxLayout="column" fxLayoutAlign="center center">
  <img
    class="mb-10"
    src="../../../../../assets/main/icon.svg"
    alt="Kodachi - The best anime tracker"
    width="100"
    height="100"
  />
  <div
    class="w-full"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxHide
    fxShow.xs
  >
    <h2 class="m-0" nz-typography>Welcome to Kodachi!</h2>
    <p class="text-center">
      We hope you enjoy using Kodachi and never forget your favorite anime!
    </p>
  </div>
  <p class="text-center" fxHide.xs>
    Just enter your account, and have fun using Kodachi
  </p>
  <form class="w-full" nz-form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your email.">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="email"
            nz-input
            [nzSize]="'large'"
            placeholder="Email"
            autocomplete="username"
            formControlName="email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password.">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            [nzSize]="'large'"
            placeholder="Password"
            autocomplete="current-password"
            formControlName="password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="mr-10" fxLayout="row" fxLayoutAlign="space-between center">
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
      <a [routerLink]="['/auth/reset-password']">Reset password</a>
    </div>
    <button
      class="mt-15 w-full"
      nz-button
      nzType="primary"
      nzSize="large"
      nzShape="round"
      type="submit"
    >
      Log in
    </button>
    <div class="mt-10 mb-5" fxLayout="row" fxLayoutAlign="center center">
      <p class="m-0 mr-5">You do not have an account?</p>
      <a class="m-0" [routerLink]="['/auth/join']">Join the community</a>
    </div>
    <div class="mt-5" fxLayout="row" fxLayoutAlign="center center">
      <a class="m-0" [routerLink]="['/auth/activate']">Activate account</a>
    </div>
  </form>
</div>
