<ul class="w-full hide-scroll" nz-menu nzMode="inline">
  <li nz-submenu nzTitle="The essential ( ͡° ͜ʖ ͡°)" nzIcon="appstore" nzOpen>
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/explorer/home']">Explorer - Let's look at anime</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/manga/home']">Manga - Coming soon</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/social/home']">
          Social - Let's talk with the others
        </a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Help us to improve 乂❤‿❤乂" nzIcon="appstore" nzOpen>
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/help/report/user']">Report user</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/help/report/bug']">Report bug</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/help/suggestion/new']">
          Suggestion for improvement
        </a>
      </li>
    </ul>
  </li>
  <li
    nz-submenu
    nzTitle="I recommend reading (⊙…⊙ )"
    nzIcon="book"
    nzMatchRouter
  >
    <ul>
      <li nz-menu-item>Privacy policy</li>
      <li nz-menu-item>Terms of service</li>
      <li nz-menu-item>Community guidelines</li>
    </ul>
  </li>
</ul>
