[nz-carousel-content] {
  height: auto;
  overflow: hidden;
}

.content {
  height: 34.375rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-gradient {
  width: 100%;
  height: 100%;
  background: var(--bg-gradiend);
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  padding-bottom: 1.875rem;
}

.title {
  width: 30%;
  font-size: 2.5rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 3.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description {
  margin: 0;
  width: 35%;
}

.divider {
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}

.favorite-heart {
  margin-right: 0.3125rem;
  font-size: 1.25rem;
  color: #e74c3c;
}

.favorites-count {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.title-details {
  font-size: 20px;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
