<nz-carousel nzEffect="fade" nzAutoPlay>
  <div
    class="content"
    nz-carousel-content
    *ngFor="let anime of animeRated"
    [style.backgroundImage]="'url(' + anime.cover + ')'"
  >
    <div
      class="content-gradient"
      fxLayout="column"
      fxLayoutAlign="end start"
      [ngStyle.xs]="{
        'padding-left': '1.5625rem',
        'padding-right': '1.5625rem'
      }"
    >
      <h2 class="title noselect" nz-typography [ngStyle.xs]="{ width: '80%' }">
        {{ anime.title.romanized }}
      </h2>
      <p
        class="description noselect"
        nz-typography
        nzEllipsis
        [nzEllipsisRows]="4"
        [ngStyle.xs]="{ width: '100%' }"
      >
        {{ anime.synopsis }}
      </p>
      <button
        class="mt-30"
        nz-button
        nzType="default"
        nzSize="large"
        nzShape="round"
      >
        {{ statusBtnViewAnime }}
        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
      </button>
      <div
        class="mt-50 mb-20"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div fxLayout="column" fxLayoutAlign="center start">
          <h4 class="title-details noselect" nz-typography>Rate</h4>
          <nz-rate
            [ngModel]="anime.rate == null ? 0 : anime.rate"
            nzDisabled
          ></nz-rate>
        </div>
        <nz-divider class="divider" nzType="vertical"></nz-divider>
        <div fxLayout="column" fxLayoutAlign="center start">
          <h4 class="title-details noselect" nz-typography>Favorites</h4>
          <div fxLayout="row" fxLayoutAlign="center center">
            <i
              class="favorite-heart"
              nz-icon
              nzType="heart"
              nzTheme="outline"
            ></i>
            <p class="favorites-count noselect">
              {{ anime.favorites_count }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-carousel>
