<ul class="sider-menu" nz-menu nzMode="inline">
  <li
    nz-submenu
    nzTitle="I wish to see"
    [(nzOpen)]="openMap.sub1"
    (nzOpenChange)="openHandler('sub1')"
    nzIcon="eye"
  >
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'sumary']">Sumary</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'new']">New</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'top-rated']">
          Top rated this season
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'last-season']">
          Last season
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'random']">
          Let's meet other anime
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'top-rated-all-time']">
          Top rated best of all time
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'explorer', 'home', 'recently-added']">
          Recently added
        </a>
      </li>
    </ul>
  </li>
  <li
    nz-submenu
    nzTitle="Popular categories"
    [(nzOpen)]="openMap.sub2"
    (nzOpenChange)="openHandler('sub2')"
    nzIcon="appstore"
  >
    <ul>
      <li
        nz-menu-item
        nzMatchRouter
        *ngFor="let category of categoryList.slice(0, 7)"
      >
        <a [routerLink]="['/', 'explorer', 'home', 'category', category.id]">
          {{ category.name }}
        </a>
      </li>
    </ul>
  </li>
  <li
    nz-submenu
    nzTitle="More categories"
    [(nzOpen)]="openMap.sub3"
    (nzOpenChange)="openHandler('sub3')"
    nzIcon="plus-square"
  >
    <ul>
      <li
        nz-menu-item
        nzMatchRouter
        *ngFor="let category of categoryList.slice(8, 47)"
      >
        <a [routerLink]="['/', 'explorer', 'home', 'category', category.id]">
          {{ category.name }}
        </a>
      </li>
    </ul>
  </li>
</ul>
