<div class="bg" fxLayout="column" fxLayoutAlign="center center">
  <img
    src="../../../assets/main/logo-text.svg"
    alt="Kodachi - The best anime tracker"
    width="310"
    height="70"
  />
  <div
    class="mb-10 mt-10"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
  >
    <button class="mr-10 links" nz-button nzType="link">Support</button>
    <button class="mr-10 links" nz-button nzType="link">Report member</button>
    <button class="mr-10 links" nz-button nzType="link">
      Privacy Policy
    </button>
    <button class="mr-10 links" nz-button nzType="link">
      Terms of service
    </button>
  </div>
  <div class="mb-10" fxLayout="row">
    <img
      class="mr-10 trigger"
      src="../assets/footer/discord.svg"
      alt="Discord | Kodachi"
      width="40"
      height="40"
    />
    <img
      class="trigger"
      src="../assets/footer/twitter.svg"
      alt="Twitter | Kodachi"
      width="40"
      height="40"
    />
  </div>
  <p class="copyright">
    All rights reserved © {{ year | date: 'yyyy' }} Kodachi - The best anime
    tracker
  </p>
</div>
