.bg {
  width: 100%;
  height: auto;
  background-color: #191919;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.25rem;
}

.links {
  font-weight: bold;
}

.copyright {
  text-align: center;
}
