<div class="h-full w-full" fxLayout="column" fxLayoutAlign="center center">
  <img
    class="mb-10"
    src="../../../../../assets/main/icon.svg"
    alt="Kodachi - The best anime tracker"
    width="100"
    height="100"
  />
  <nz-steps
    class="w-full"
    [nzCurrent]="3"
    [nzStartIndex]="1"
    nzSize="small"
    nzDirection="horizontal"
  >
    <nz-step nzTitle="Account" nzIcon="user"></nz-step>
    <nz-step nzTitle="Profile" nzIcon="solution"></nz-step>
    <nz-step nzTitle="Activate" nzIcon="smile"></nz-step>
  </nz-steps>
  <form
    class="w-full mt-20"
    nz-form
    [formGroup]="confirmForm"
    (ngSubmit)="confirmAccount()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid email address.">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="email"
            nz-input
            [nzSize]="'large'"
            placeholder="Email"
            formControlName="email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter a valid Token.">
        <nz-input-group nzPrefixIcon="solution">
          <input
            type="text"
            nz-input
            [nzSize]="'large'"
            placeholder="Token"
            formControlName="token"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="w-full" fxLayout="row">
      <button
        class="w-full mr-10"
        nz-button
        nzType="default"
        disabled
        type="button"
      >
        Back
      </button>
      <button
        class="w-full"
        nz-button
        nzType="primary"
        [disabled]="confirmForm.invalid || confirmForm.disabled"
        type="submit"
      >
        Activate account
      </button>
    </div>
  </form>
  <div class="mt-10" fxLayout="row" fxLayoutAlign="center center">
    <p class="m-0 mr-5">Do you already have an account?</p>
    <a class="m-0" [routerLink]="['/auth/sign-in']">Log in</a>
  </div>
</div>
