<div class="h-full w-full" fxLayout="column" fxLayoutAlign="center center">
  <img
    class="mb-10"
    src="../../../../../assets/main/icon.svg"
    alt="Kodachi - The best anime tracker"
    width="100"
    height="100"
  />
  <nz-steps
    class="w-full"
    [nzCurrent]="selectedStep"
    [nzStartIndex]="1"
    nzSize="small"
    nzDirection="horizontal"
  >
    <nz-step nzTitle="Your account" nzIcon="user"></nz-step>
    <nz-step nzTitle="New password" nzIcon="lock"></nz-step>
  </nz-steps>
  <div
    class="mt-10"
    fxLayout="column"
    fxLayoutAlign="center center"
    [hidden]="selectedStep != 1"
  >
    <p class="text-center">
      Please enter your email address so we can send you instructions on how to
      reset your password.
    </p>
    <form
      class="w-full"
      nz-form
      [formGroup]="recoverEmailForm"
      (ngSubmit)="sendPasswordReset()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your email.">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="email"
              nz-input
              [nzSize]="'large'"
              placeholder="Email"
              autocomplete="username"
              formControlName="email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div
    class="mt-10"
    fxLayout="column"
    fxLayoutAlign="center center"
    [hidden]="selectedStep != 2"
  >
    <p class="text-center">
      Now just enter the confirmation Token that we send you via email and enter
      your new password.
    </p>
    <form
      class="w-full"
      nz-form
      [formGroup]="recoverPasswordForm"
      (ngSubmit)="changePassword()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your token.">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              [nzSize]="'large'"
              placeholder="Token"
              formControlName="token"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your new password.">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="password"
              nz-input
              [nzSize]="'large'"
              placeholder="New password"
              autocomplete="current-password"
              formControlName="password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please confirm your new password.">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="password"
              nz-input
              [nzSize]="'large'"
              placeholder="Confirm password"
              autocomplete="current-password"
              formControlName="password_confirm"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="w-full" fxLayout="row">
    <button
      class="w-full mr-10"
      nz-button
      nzType="default"
      (click)="changeStep(0)"
      [disabled]="selectedStep == 1"
    >
      Back
    </button>
    <button
      class="w-full"
      nz-button
      nzType="primary"
      (click)="sendPasswordReset()"
      *ngIf="selectedStep == 1"
      [disabled]="recoverEmailForm.invalid || recoverEmailForm.disabled"
    >
      Send password reset
    </button>
    <button
      class="w-full"
      nz-button
      nzType="primary"
      (click)="changePassword()"
      *ngIf="selectedStep == 2"
      [disabled]="recoverPasswordForm.invalid || recoverPasswordForm.disabled"
    >
      Change password
    </button>
  </div>
  <div class="mt-10" fxLayout="row wrap" fxLayoutAlign="center center">
    <p class="m-0 mr-5">Let's</p>
    <a class="m-0 mr-5" [routerLink]="['/auth/sign-in']">go back</a>
  </div>
</div>
